### Importación de datos

In [1]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

#1. Análisis de facturación

En esta fase, vamos a calcular la facturación neta de cada una de las cuatro tiendas. La facturación neta representa los ingresos reales generados por las ventas. Para este caso vamos asumir que el costo de envío es un gasto que corre por cuenta de las tiendas, por lo tanto, debemos restarlo del precio de cada producto vendido.

Para obtener la facturación neta, sumamos para cada tienda el precio de todos los productos vendidos y restamos el costo total del envío asociado a esas ventas. Es decir, para cada venta se calcula el valor neto como el precio menos el costo de envío, y luego se suman todos estos valores netos para obtener la facturación total neta.

In [5]:
# Calcular facturación neta para cada tienda (precio - costo de envío)
facturacion_tienda1 = (tienda['Precio'] - tienda['Costo de envío']).sum()
facturacion_tienda2 = (tienda2['Precio'] - tienda2['Costo de envío']).sum()
facturacion_tienda3 = (tienda3['Precio'] - tienda3['Costo de envío']).sum()
facturacion_tienda4 = (tienda4['Precio'] - tienda4['Costo de envío']).sum()

# Función para formatear los valores en moneda colombiana
def formato_cop(valor):
    return "${:,.2f}".format(valor)

# Mostrar resultados formateados
print("Facturación Neta Tienda 1:", formato_cop(facturacion_tienda1))
print("Facturación Neta Tienda 2:", formato_cop(facturacion_tienda2))
print("Facturación Neta Tienda 3:", formato_cop(facturacion_tienda3))
print("Facturación Neta Tienda 4:", formato_cop(facturacion_tienda4))

Facturación Neta Tienda 1: $1,089,502,500.00
Facturación Neta Tienda 2: $1,056,858,400.00
Facturación Neta Tienda 3: $1,039,503,000.00
Facturación Neta Tienda 4: $983,058,300.00

Los resultados muestran que la Tienda 1 tiene la facturación neta más alta, con un total de 1.089.502.500, seguida de cerca por la Tienda 2 con 1.056.858.400, luego la Tienda 3 con 1.039.503.000 y finalmente la Tienda 4 con 983.058.300.

Ahora calcularemos la facturación bruta de cada tienda, considerando únicamente el valor total de las ventas sin descontar el costo de envío, ya que en este escenario las tiendas no asumen ese gasto.

In [13]:
# Calcular facturación neta para cada tienda (precio - costo de envío)
facturacion_tienda1 = (tienda['Precio']).sum()
facturacion_tienda2 = (tienda2['Precio']).sum()
facturacion_tienda3 = (tienda3['Precio']).sum()
facturacion_tienda4 = (tienda4['Precio']).sum()

# Función para formatear los valores en moneda colombiana
def formato_cop(valor):
    return "${:,.2f}".format(valor)

# Mostrar resultados formateados
print("Facturación Neta Tienda 1:", formato_cop(facturacion_tienda1))
print("Facturación Neta Tienda 2:", formato_cop(facturacion_tienda2))
print("Facturación Neta Tienda 3:", formato_cop(facturacion_tienda3))
print("Facturación Neta Tienda 4:", formato_cop(facturacion_tienda4))

Facturación Neta Tienda 1: $1,150,880,400.00
Facturación Neta Tienda 2: $1,116,343,500.00
Facturación Neta Tienda 3: $1,098,019,600.00
Facturación Neta Tienda 4: $1,038,375,700.00

Los resultados muestran que la Tienda 1 tiene la facturación bruta más alta, con un total de 1.150.880.400, seguida de cerca por la Tienda 2 con 1.116.343.500, luego la Tienda 3 con 1.098.019.600 y finalmente la Tienda 4 con 1.038.375.700.

# 2. Ventas por categoría

En esta fase vamos a calcular las ventas de cada tienda clasificadas por categoría de producto. Dado que el valor total de cada venta corresponde al precio del producto, vamos a sumar esos valores agrupándolos por la categoría del producto para cada tienda.

Para calcular las ventas por categoría, se suman los precios de todos los productos vendidos en cada categoría. Este proceso se repite para cada tienda, agrupando los datos por categoría de producto.

In [11]:
# Agrupar y sumar las ventas por categoría en cada tienda
ventas_tienda1 = tienda.groupby('Categoría del Producto')['Precio'].sum()
ventas_tienda2 = tienda2.groupby('Categoría del Producto')['Precio'].sum()
ventas_tienda3 = tienda3.groupby('Categoría del Producto')['Precio'].sum()
ventas_tienda4 = tienda4.groupby('Categoría del Producto')['Precio'].sum()

# Crear el DataFrame con las sumas por categoría y tienda
ventas_por_categoria = pd.DataFrame({
    'Tienda 1': ventas_tienda1,
    'Tienda 2': ventas_tienda2,
    'Tienda 3': ventas_tienda3,
    'Tienda 4': ventas_tienda4
}).fillna(0)

ventas_por_categoria.loc['Total'] = ventas_por_categoria.sum()

# Mostrar el DataFrame con formato de moneda colombiana
ventas_por_categoria.style.format("${:,.0f}")

Los resultados de las ventas muestran que las categorías que generan la mayor facturación en todas las cuatro tiendas son Electrónicos y Electrodomésticos, seguidas por Muebles e Instrumentos musicales. Estas categorías concentran la mayor parte de las ventas, reflejando una fuerte demanda en productos tecnológicos y para el hogar. La categoría más débil en ventas para todas las tiendas es Libros, con la facturación más baja en comparación con las demás categorías.

# 3. Calificación promedio de la tienda

# 4. Productos más y menos vendidos

# 5. Envío promedio por tienda